@model Citus.Education.WebApp.Sample.Models.ViewModels.CvCompetenceEditViewModel
@{
    ViewBag.Title = "Pero";
}

<h2>Pero</h2>

<div>
    @Html.Raw(Model.Name)
</div>
<ul>
   @Html.Partial("_Groups",Model.Groups)
   @Html.Partial("_Groups", Model.Rates)

    @Html.Action("_Comments")
   
    @*fasdf adsf
        fads fadsf
        asdf adsf
         asdf 
        asdf 
        ads*@    
    
    
</ul>
<div>
    @Html.ActionLink("Doma", "Index", "Home")

    @Url.Action("Index")
    <br/>
    @Html.DisplayNameFor(model => model.Name)
    <br/>
    @Html.LabelFor(model => model.Name);

</div>

