@model IEnumerable<Citus.Education.WebApp.Sample.Models.ViewModels.BankAccountViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBank.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Oznaka</th>
        <th>Ime</th>
        <th>IBAN</th>
        <th>Status</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Account.Code
        </td>
        <td>
            @item.Account.Name
        </td>
        <td>
            @item.Account.IBAN
        </td>
        <td>
            @item.Account.Status
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", 
           new {  id=item.Account.Id  }) |
            @Html.ActionLink("Detalji", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Storno", "Storno", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
